DB_HOST=localhost
DB_PORT=5433
DB_USER= -- put db username here --
DB_PASSWORD= -- put db password here --
DB_NAME= -- put db name here --
JWT_SECRET= -- put jwt secret for token gen here --
JWT_EXPIRES_IN=1d
LOG_LEVEL=info